<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/adapter.js"></script>
        <script type="text/javascript" src="js/RTCclient.js"></script>

        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="js/knockout-3.0.0beta.js"></script>
        <script type="text/javascript" src="js/RTCViewModel.js"></script>
    </head>
    <body>